.button-container {
  padding: 10px 50px;
  background-color: var(--violet);
  border-radius: 30px;
  text-decoration: none;
  color: aliceblue;
  transition: all .3s;
}

.button-container:hover  {
    background-color: #623c72;
}