.review-container {
 background-color: aqua; 
 padding: 30px;  
}

.review-container>.name-review {
    display: flex;
    align-items: center;
}

.review-container>.name-review>i{
    font-size: 1.3rem;
    color: var(--violet);
    margin-right: 30px;
}

.review-container>.name-review>h2 {
    font-size: 1.3rem;
}

.review-container>.start-container {
    display: flex;
    align-items: center;
    color: #FFD233;
    margin-top: 1rem;
    margin-bottom: 1.8rem;
}

.review-container>.start-container>i{
    font-size: 1.4rem;
margin-right: 10px;
}