.review-container {
    background-color: rgb(242, 243, 245);
    padding: 30px;  
}

.review-container>.name-review {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--violet);
}

.review-container>.name-review>i{
    font-size: 1.3rem;
    color: var(--violet);
    margin-right: 30px;
}

.review-container>.name-review>h2 {
    font-size: 1.3rem;
}

.review-container>.start-container {
    display: flex;
    align-items: center;
    color: #FFD233;
    margin-top: 1rem;
    margin-bottom: 1.8rem;
}

.review-container>.start-container>i{
    font-size: 1.4rem;
margin-right: 10px;
}