.cuidemos-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 2rem;
}
 
.cuidemos-container figcaption {
    width: 100%;
}

.cuidemos-container figcaption img {
    width: 100%;
}

@media (min-width: 600px) {
  .cuidemos-container {
    grid-template-columns: repeat(1, 1fr);
  }
}


@media (max-width:600px) {
  .cuidemos-container div {
    padding: 0 20px;
  }
}

@media (min-width: 900px) {
  .cuidemos-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
