.hero-content {
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
}

.hero-content .section-info {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.hero-content .section-info article {
  max-width: 600px;
}

.hero-content .section-info article h1 {
  font-size: 2.3rem;
  color: var(--violet);
}

.hero-content .section-info article h2 {
  font-size: 4rem;
  line-height: 70px;
  color: aliceblue;
}

.hero-content .section-info article p {
  color: aliceblue;
  margin-bottom: 50px;
}

.hero-content .section-info article div {
  max-width: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 727px) {
  .hero-content .section-info  {
   justify-content: center;
   text-align: center;
   padding-inline: 40px;
  }

  .hero-content .section-info article h1 {
    color: aliceblue;
    border-bottom: 3px solid var(--violet);
    margin-bottom: 30px;
  }

  .hero-content .section-info article h2 {
    font-size: 2.1rem;
    line-height: 40px;
    margin-bottom: 20px;
  }
}