/* services comienza */
.space-section {
  margin-top: 80px;
}
.services-cards-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 2rem;
}
#carusel-mobile{
  display: none;
}
@media (max-width: 600px) {
  #carusel-desktop {
    display: none;
  }
  #carusel-mobile {
    display: block;
  }
}

@media (min-width: 600px) {
  .services-cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .services-cards-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* FIN SERVICES  */

/* clinicas */
.clinics-container > .clinics-card-container {
  padding: 20px;
}
.clinics-container > .clinics-card-container > figure > div {
  width: 60px;
  height: 60px;
  background-color: #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

.clinics-container > .clinics-card-container > figure > div > i {
  font-size: 30px;
  color: #813eaa;
}

.clinics-container > .clinics-card-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 2rem;
}

@media (min-width: 600px) {
  .clinics-container > .clinics-card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .clinics-container > .clinics-card-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
/* FIN DE CLINICAS */

/* cuidados comienzo */
.cuidados-contain {
  max-width: 1200px;
  padding: 1rem 2rem;
  margin: 0 auto;
  display: grid;
  gap: 3rem;
}

@media (max-width: 900px) {
  .cuidados-contain {
    grid-template-columns: repeat(1, 1fr);
    display: flex;
    flex-direction: column-reverse;
  }

  .buttons-contain {
    flex-direction: column;
    height: 100px;
  }
}

@media (min-width: 900px) {
  .cuidados-contain {
    grid-template-columns: repeat(2, 1fr);
  }
}

.cuidados-contain > figcaption {
  width: 100%;
}

.cuidados-contain > figcaption > video {
  width: 100%;
}
/* cuidados fin */

/* reviews comienzo */
.reviews-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}

.center-button {
  margin-top: 50px;
  width: 100%;
  text-align: center;
}

@media (min-width: 600px) {
  .reviews-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .reviews-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* FIN reviews */
