/* cuidados comienzo */
.cuidados-contain {
  /* display: flex;
    justify-content: space-between;
     */
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: start;
}

.cuidados-contain > figcaption {
  /* width: 100%; */
  height: 550px;
  display: flex;
  justify-content: center;
}

.cuidados-contain > figcaption > video {
  height: 100%;
}
/* cuidados fin */
