/* services comienza */
.services-cards-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 2rem;
}

.services-cards-container > .service-card {
  padding: 30px;
  border-radius: 10px;
  transition: ease .3s;
}

.services-cards-container > .service-card:hover{
  box-shadow: -1px 10px 33px 4px rgba(0,0,0,0.28);
}

.services-cards-container > .service-card > div {
  display: flex;
  align-items: center;
}

.services-cards-container > .service-card > div > i {
  font-size: 2rem;
  color: var(--violet);
  margin-right: 30px;
}

.services-cards-container > .service-card > p {
  color: #5d5959;
}

@media (min-width: 600px) {
  .services-cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .services-cards-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* FIN SERVICES  */

/* clinicas */
.clinics-container > .clinics-card-container > figure > div {
  width: 60px;
  height: 60px;
  background-color: #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

.clinics-container > .clinics-card-container > figure > div > i {
  font-size: 30px;
  color: #813eaa;
}

.clinics-container > .clinics-card-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}

@media (min-width: 600px) {
  .clinics-container > .clinics-card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .clinics-container > .clinics-card-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
/* FIN DE CLINICAS */

/* cuidados comienzo */
.cuidados-contain {
  max-width: 1200px;
  padding: 1rem 2rem;
  margin: 0 auto;
  display: grid;
  gap: 3rem;
}

@media (min-width: 800px) {
  .cuidados-contain {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 900px) {
  .cuidados-contain {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* .cuidados-contain {
  
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: start;
} */

.cuidados-contain > figcaption {
  width: 100%;
  /* display: flex;
  justify-content: center; */
}

.cuidados-contain > figcaption > video {
  width: 100%;
}
/* cuidados fin */

/* reviews comienzo */
.reviews-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}

@media (min-width: 600px) {
  .reviews-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .reviews-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* FIN reviews */
